
body {
  margin:0;
  background:#0b0b0b;
  color:white;
  font-family:Arial, sans-serif;
}
header {
  display:flex;
  justify-content:space-between;
  padding:20px 60px;
}
nav a {
  color:gold;
  margin-left:20px;
  text-decoration:none;
}
.hero {
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.achievements {
  padding:60px;
  text-align:center;
}
.trophy {
  margin:20px;
  padding:20px;
  border:1px solid gold;
}
.page {
  padding: 80px 120px;
}

.page h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 40px;
}

.card {
  background: #111;
  border: 1px solid #222;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  border-color: gold;
  transform: translateY(-5px);
}
